.myform{
    max-width: 600px;
    box-shadow: 4px -2px 4px 4px #ddf3de;
    margin-top: 60px;
    padding:50px;
    background-color:#f0f8ffc2;;
}
.bgm{
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* DEMO-SPECIFIC STYLES */
.typewriter h3  {
    
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }

.age .gender .state .medicaldate .dobook .book .symtoms .serious{
    display: none;
}